.hero{
    min-height: 90vh;
    background:  linear-gradient(180deg, #92c6e9, #e1ffea22 60%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 9%;
    overflow: hidden; 
}
.hero-left{
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 18px;
}

.hero-left p{
    color: #171717;
    font-size: 80px;   
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 100px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 220px;
    height: 50px;
    border-radius: 75px;
    margin-top: 20px;
    background: #ff4141;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.hero-latest-btn img{
    width: 16px;
}

.hero-right img{
    width: 650px;
    position: relative;
  z-index: 1;
  max-width: 100%;
  height: auto;
}

.hero-blur-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(30px) brightness(0.7);
    opacity: 0.5;
    z-index: 0;
  }

  .hero-blur-effect img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-left,
.hero-right {
  position: relative;
  z-index: 1; /* Por encima del fondo difuminado */
}


@media(max-width:1200px){
    
    .hero{
        padding: 10px 6%;
    }
    .hero-left p{
        font-size: 70px;
    }
    .hero-right img{
        width: 400px;
    }
   
}
@media(max-width:900px){
   
    .hero-left p{
        font-size: 45px;
    }
    .hero-right img{
        width: 450px;
    }
   
}
@media(max-width:700px){
   .hero{
    padding: 0 10%;
    min-height: 95vh;
   }
    .hero-left p{
        font-size: 55px;
    }
    .hero-right{
        display: none;
    }
    .hero-left{
        line-height: 1.2;
    }
    .hero-left h2{
        margin-bottom: 20px;
    }
  
    .hero-latest-btn{
        margin-top: 30px;
    }
}
